/* GERAL */
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-wrap: wrap;
  margin: 3px;
  flex: 1 1 100vw;
  background: linear-gradient(#b4dfff, #b4dfff, #5d84a1);
}
header,nav,aside {
  display: flex;
  margin: 3px;
}

header {
  flex: 1 1 100vw;
  height: 60px;
}
header #logo {
  display: flex;
  flex: 0 1 100px;
  justify-content: center;
}
#logo:hover {
  filter: invert(60%);
}

#openmenu,
#closemenu {
  float: inline-start;
  border: none;
  background-color: transparent;
  font-size: 30px;
  font-weight: bold;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  display: none;
}
nav {
  flex: 1 1 73vw;
  align-items: center;
  justify-content: flex-end;
  background: #b4dfff;

}
nav a {
  margin: 2%;
  font-size: 20pt;
  background: #b4dfff;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  flex: 1 1 850px;
  height: auto;
  background: white;
  border-radius: 20px;
  margin-bottom: 200px;

}
/*
QUESTIONARIO
*/
.box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #888;
  padding: 20px;
  margin: 20px 0px;
}

#saida,
.questao {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#saida a {
  text-decoration: underline;
  color: cornflowerblue;
}
/*
perfil
*/
#mainprfl {
  flex: 1 1 850px;
  display: flex;
  height: calc(130vh - 224px);
  background: white;
  border-radius: 15px 20px 0 20px;
  font-size: 20;
}
#prfl {
  flex-direction: column;
  align-items: center;
  justify-items: center;
  display: flex;
  flex: 0.25;
  background-color: #5d84a1;
  border-radius: 15px;
}
#prfl > * {
  margin: 10px;
}
#var_nome {
  font-weight: bold;
  /* padding-top: 5px; */
}
#nmu {
  padding-top: 20px;
}
#fmu {
  font-weight: bold;
  padding-top: 10px;
}
/*CADASTRO*/
.cdst_inputs {
  flex: 1 1 300;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.laabel {
  flex: 1 1 300;
  margin-top: 50px;
}
.laabel > input {
  text-align: left;
  width: 300px;
}
.buttonal {
  margin: auto;
  width: 100%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
#cdst_bot {
  background-color: rgb(190, 182, 182);
  height: 30px;
  border: none;
  width: 100px;
}
#user_name {
  padding: 20px;
  border: none;
  background-color: rgb(190, 182, 182);
}
#user_address {
  padding: 20px;
  border: none;
  background-color: rgb(190, 182, 182);
}
/* ASIDE CONFIG*/
aside {
  flex: 1 1 100vw;
  background: transparent;
  flex-direction: column;
  margin-bottom: 50px;
}
/* ITENS */
#hslogo {
  padding-top: 100px;
  display: flex;
  align-self: center;
  justify-content: center;
}
.menudlinks {
  margin-top: 80px;
  margin-left: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #5d84a1;
  color: white;
  height: 35%;
  width: 20%;
  font-weight: bold;
  border-radius: 15px;
}

#conteudomenu {
  display: flex;
  align-self: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  color: black;
  height: 80%;
  width: 65%;
}
#conteudomenu a {
  padding: 2px;
}
#conteudomenu > a:hover {
  color: #5d84a1;
}
#logohardstop {
  height: 150px;
  width: 150px;
}
#logohardstop:hover {
  filter: invert(75%);
}
/* PAGINAS */
.titulo {
  /* text-decoration: underline; */
  font-weight: bolder;
  text-align: center;
  padding: 30px;
  padding-bottom: 20px;
}

.sumario li {
  padding: 10px;
  text-align: center;
}
.sumario a {
  font-size: x-large;
  font-weight: 400;
  text-decoration: none;
}

.sumario a:hover {
  text-decoration: underline;
  color: cornflowerblue;
}

.conteudo {
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
  font-size: large;
  word-break: keep-all;
}
.conteudo h1,
h2,
.lista-ordenada {
  padding-top: 30px;
  text-align: center;
}
.conteudo p {
  padding-top: 30px;
}

.lista-ordenada {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: decimal;
  margin-bottom: 1em;
}

.voltar_pagina {
  float: left;
  width: 130px;
  height: 50px;
  font-size: large;
  border-radius: 20px;
  background-color: rgba(0, 128, 0, 0.253);
  border-color: aliceblue;
  color: hsl(0, 0%, 100%);
  text-shadow: 0px 4px 4px #666;
}
.avancar_pagina {
  float: right;
  width: 130px;
  height: 50px;
  font-size: large;
  border-radius: 20px;
  background-color: rgba(0, 128, 0, 0.253);
  border-color: aliceblue;
  color: hsl(0, 0%, 100%);
  text-shadow: 0px 4px 4px #666;
}
.avancar_pagina:hover {
  color: dimgray;
}
.voltar_pagina:hover {
  color: dimgray;
}
.botao_feedback {
  width: 130px;
  height: 50px;
  font-size: large;
  border-radius: 20px;
  background-color: rgba(0, 128, 0, 0.253);
  border-color: aliceblue;
  color: hsl(0, 0%, 100%);
  text-shadow: 0px 4px 4px #666;
  margin: 10px;
}
.botoes_feedback {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 20px;
}
#btsmr {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 130px;
  height: 50px;
  font-size: large;
  border-radius: 20px;
  background-color: rgba(0, 128, 0, 0.253);
  border-color: aliceblue;
  color: hsl(0, 0%, 100%);
  text-shadow: 0px 4px 4px #666;
}
#btsmr:hover {
  color: dimgray;
}
#btsmv {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 130px;
  height: 50px;
  font-size: large;
  border-radius: 20px;
  background-color: rgba(0, 92, 128, 0.253);
  border-color: aliceblue;
  color: hsl(0, 0%, 100%);
  text-shadow: 0px 4px 4px #666;
}
#btsmv:hover {
  color: dimgray;
}
/* REGRA MEDIA PARA MUDANÇA DE TELA */
@media only screen and (max-width: 923px) {
  main {
    height: calc(100vh- 330px);
  }
  aside {
    flex: 1 1 200px;

    height: fit-content;
  }
  .cdst_inputs {
    flex: auto;
  }
  .buttonal {
    flex: auto;
  }
  #prfl > * {
    margin: 10px;
  }
  .menudlinks {
    height: 70%;
  }
  #hslogo {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 717px) {
  a#logo {
    width: fit-content;
  }
  #butc {
    width: fit-content;
  }
  #openmenu,
  #closemenu {
    display: block;
  }
  #openmenu {
    content: icon;
    align-self: center;
  }
  #closemenu {
    position: fixed;
    right: 15px;
    top: 15px;
  }
  nav {
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.75);
    align-items: center;
    justify-content: center;
    display: none;
    margin: 0;
  }
  nav > a {
    background-color: rgba(255, 255, 255, 0);
  }
  main {
    border-radius: 20px;
  }
  .laabel {
    text-align: center;
  }
  #user_name {
    flex: auto;
    width: 100%;
  }
  #user_address {
    width: 100%;
  }
  #cdst_bot {
    width: 55%;
  }
  #prfl {
    width: fit-content;
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
  }
  #prfl > * {
    margin: 10px;
  }
}
/* LOGIN */
#login_field {
  position: right;
  float: right;
  padding: 10%;
}
#login_fieldset {
  padding: 30px;
  border-radius: 3px;
  border-bottom-right-radius: 20px;
}
#logleg {
  text-align: right;
}
#okleg {
  width: 65px;
  height: 30px;
}
#input-mail {
  height: 35px;
  width: 200px;
  background-color: #8672993a;
  font-weight: 400;
  font-size: medium;
}
#cadt {
  padding-top: 10px;
  text-align: center;
}
#cadtx {
  font-size: large;
}
#cadtx > a {
  color: rgba(255, 0, 0, 0.755);
  text-decoration: underline;
}
div.cadin > input {
  width: 175px;
  padding: 4px;
}
#okcad {
  padding-top: 3px;
  margin-left: 150px;
}
#okdiv {
  padding-top: 3px;
}
#texto_login {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-justify: auto;
  text-align: center;
  font-size: x-large;
}
#destaque {
  font-weight: bold;
}
#feedback {
  font-weight: bold;
  text-align: center;
}
