*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;
    background: linear-gradient(#B4DFFF,#B4DFFF,#5D84A1);
}
header,nav,aside{
    background: linear-gradient(#B4DFFF);
    display: flex;
    margin: 3px;

}

header{
    flex: 1 1 100vw;
    height: 100px;
}
header #logo{
    flex: 0 1 200px;
}
#openmenu,#closemenu{
    border: none;
    background-color: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}
nav{ 
    flex: 1 1 100vw;  
    align-items: center;
    justify-content: flex-end;
    background: #B4DFFF;
}
nav a{
    margin: 5%;
    font-size: 20pt;
    background: #B4DFFF;
}
a{
    text-decoration: none;
    color:inherit;
}
main{
    flex: 1 1 850px;
    height: calc(130vh - 224px);
    background: white;
    border-radius: 0 20px 0 0;
}
aside{
    flex: 1 1 100px;
    background: linear-gradient(#B4DFFF,#5D84A1);

}
aside a{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    flex: 1 1 200px;
 
    
}

@media only screen and (max-width: 923px){
    main{
        height:calc(100vh- 330px);
        
    }
    aside{
        flex:1 1 10vw;
        height:100px;
    }
    aside a{
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    #logohardstop{
        object-fit: cover;
        height: 100%;
        width:10%;
    }
}
@media only screen and (max-width: 717px){
    #openmenu, #closemenu{
        display: block;
    }
    #openmenu{
        margin-left: auto;
    }
    #closemenu{
        position: fixed;
        right: 15px;
        top:15px;
    }
    nav{
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background: rgba(255,255,255,0.8);
        align-items: center;
        justify-content: center;
        display:none;
        margin: 0;
    }
    main{
        border-radius: 20px;
    }
    aside a{
        height: auto;
        width: auto;
    }
    #logohardstop{
        object-fit: cover;
        height: 55%;
        width:30%; 
    }
}