*{
    font-family: sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;
    background: linear-gradient(#B4DFFF,#B4DFFF,#5D84A1);
}
header,nav,aside{
    background: linear-gradient(#B4DFFF);
    display: flex;
    margin: 3px;

}

header{
    flex: 1 1 100vw;
    height: 60px;
}
header #logo{
    display: flex;
    flex: 0 1 100px;
    justify-content:center;
}

#openmenu,#closemenu{
    float:inline-start;
    border: none;
    background-color: transparent;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}
nav{ 
    flex: 1 1 73vw;  
    align-items: center;
    justify-content: flex-end;
    background: #B4DFFF;
}
nav a{
    margin: 2%;
    font-size: 20pt;
    background: #B4DFFF;
}
a{
    text-decoration: none;
    color:inherit;
}
main{
    flex: 1 1 850px;
    height: calc(130vh - 224px);
    background: white;
    border-radius: 0 20px 0 0;
    overflow: scroll;
    font-size: 20;
}
#mainprfl{
    flex: 1 1 850px;
    display: flex;
    height: calc(130vh - 224px);
    background: white;
    border-radius: 15px 20px 0 20px;
    overflow: scroll;
    font-size: 20;
}
#prfl{
    flex-direction: column;
    align-items: center;
    justify-items: center;
    display: flex;
    flex:0.25;
    background-color: #5D84A1;
    border-radius: 15px;
}
#prfl > *{
    margin: 10px;
}
#var_nome{
    font-weight: bold;
    /* padding-top: 5px; */
}
#nmu{
    padding-top: 20px;
}
#fmu{
    font-weight: bold;
    padding-top: 10px;
}
.cdst_inputs{
  flex: 1 1 300;  
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
}
.laabel{
    flex: 1 1 300; 
    margin-top: 50px;
}
.laabel>input{
    text-align: left;
    width: 300px;
}
.buttonal{
    margin: auto;
    width: 100%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#cdst_bot{
    background-color: rgb(190, 182, 182);
    height: 30px;
    border: none;
    width: 100px;
}
#user_name{
    padding: 20px;
    border: none;
    background-color: rgb(190, 182, 182);
}
#user_address{
    padding: 20px;
    border: none;
    background-color: rgb(190, 182, 182);
}

aside{
    flex: 1 1 100px;
    background: transparent;

}
aside a{
    display: flex;
    align-self:self-end;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    flex: 1 1 200px; 
}
.menudlinks{
    align-self: auto;
    background-color:transparent;
    margin-left: 25%;
    margin-right: -25%;
    margin-top: 20%;
    width: 250%;
    height: 60%;


}
.headermenu{
    background-color: blue;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 10%;
}
#conteudomenu{
    background-color: white;
    color: black;
    margin-top: 10%;
    height: 80%;
    overflow: scroll;
}
#logohardstop{
    height: 150px;
    width: 150px;
}
.titulo{
    /* text-decoration: underline; */
    font-weight: 400;
    text-align: center;
    padding: 35px;
    padding-bottom: 20px;
}

.sumario>li{
    padding: 40px;
}
.sumario a{
    font-size:x-large;
    font-weight: 400;
    text-decoration: underline;
    
}

.conteudo{
    padding-top: 20px;
    padding-left: 40px;  
    padding-right: 40px;
    text-justify: distribute;
    text-align: justify,left;
   font-size: large;
   font-size: larger;
   word-break: keep-all;
}
.voltar_pagina{
    float: left;
    width: 170px;
    height: 70px;
    font-size: large;
}
.avancar_pagina{
    float: right;
    width: 170px;
    height: 70px;
    font-size: large;
}
#btsmr{
    background-color: darkgray;
    border:cadetblue 10px;
    border-radius: 5px;
    font-weight: 400;
    color: aliceblue;
    height: 40px; width: 70px;
}
@media only screen and (max-width: 923px){
    main{
        height:calc(100vh- 330px);
        
    }
    aside{
        flex:1 1 10vw;
        height:fit-content;
    }
    aside a{
        display: flex;
        align-self: center, bottom;
        align-items: center, bottom;
        justify-content: center, bottom;
        height: 100%;
    }
    #logohardstop{
        object-fit: cover;
        height: 100%;
        width:10%;
    }
    .cdst_inputs{
        flex: auto;
    }
    .buttonal{
        flex: auto;
    }
    #prfl > *{
        margin: 10px;
    }
}
@media only screen and (max-width: 717px){
    a#logo{
        width: fit-content;
    }
    #butc{
        width: fit-content;        

    }
    #openmenu, #closemenu{

        display:block;
        
    }
    #openmenu{
        content: icon;
        align-self: center;
    }
    #closemenu{
        position: fixed;
        right: 15px;
        top:15px;
    }
    nav{
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background: rgba(255,255,255,0.75);
        align-items: center;
        justify-content: center;
        display:none;
        margin: 0;
    }
    nav>a{
        background-color:rgba(255,255,255,0) ;
    }
    main{
        border-radius: 20px;
    }
    aside a{
        height: auto;
        width: auto;
    }
    #logohardstop{
        object-fit: cover;
        height: 55%;
        width:30%; 
    }
    .laabel{
        text-align: center;
    }
    #user_name{
        flex: auto;
        width: 100%;
    }
    #user_address{
        width: 100%;
    }
    #cdst_bot{
        width: 55%;
    }
    #prfl{
        width: fit-content;
        display: flex;
        align-items: flex-start;
        /* justify-content: center; */
    }
    #prfl > *{
        margin: 10px;
    }
}
#login_field {
    position: right;
    float: right;
    padding: 10%;
}
#login_fieldset {
padding: 30px;
border-radius: 3px;
border-bottom-right-radius: 20px;
}
#logleg{
    text-align: right;
}
#okleg{
    width: 65px;
    height: 30px;
}
#input-mail{
    height: 35px;
    width: 200px;
    background-color: #8672993a;
    font-weight: 400;
    font-size: medium;
}
#cadt{
    padding-top: 10px;
    text-align: center
}
#cadtx{
    font-size: large;
}
#cadtx>a{
    color:rgba(255, 0, 0, 0.755); 
    text-decoration: underline;
}
div.cadin > input{
width: 175px;
padding: 4px;
}
#okcad {
padding-top: 3px;margin-left: 150px;
}
#okdiv{
    padding-top: 3px;
}
#texto_login{
    padding-top: 20px;
    padding-left: 40px;  
    padding-right: 40px;
    text-justify:auto ;
    text-align: center;
   font-size:x-large;
}
#destaque {
    font-weight: bold;
      
}
