#saida div{
    text-align: center;
    padding: 8px;
}
#saida > div{
    border: 1px solid lightsteelblue;
}
#budiv{
    padding: 20px;
    display: grid;
    align-content: center;
    perspective: 100px;
}
#but_dados{
    height: 50px;
    font-weight: bolder;
    font-size:x-large;
    color: hsl(0, 0%, 100%);
    background-color:rgba(0, 128, 0, 0.253) ;
    border-color:aliceblue;
    border-radius: 25px;
    text-shadow: 0px 4px 4px #666

}
#but_dados:hover{
    color: dimgray;
    cursor: pointer;
}