* {
    font-family: "calibri";
  }
  /* input{
      width:fit-content;
  } */
  body {
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    background: linear-gradient(to top, #003f6e, #5580b5);
    /*  */
    /* justify-content: center; */
    /* align-items: center; */
  }
  