* {
  font-family: "calibri";
}
/* input{
    width:fit-content;
} */
body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  background: linear-gradient(to top, #003f6e, #5580b5);
  /*  */
  /* justify-content: center; */
  /* align-items: center; */
}

div.logosyst {
  max-width: fit-content;
  max-height: fit-content;
  position: top, left;
}

div.maindiv {
  /* display: flex; */
  width: 65vw;
  height: 100vh;
  background-color: white;
  border-radius: 10px;
  padding: 3%;
  align-content: flex;
  /* position: relative; */
}

div.title {
  height: fit-content;
  width: 100%;
  text-align: center;
  /* align-items: center; */
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translate(-50%);  */
}
div.content {
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify, center;
}
#login_field {
  /* display: flex; */
  position: right;
  float: right;
  padding: 5%;
}
#login_fieldset {
  width: fit-content;
  border-radius: 3px;
  border-bottom-right-radius: 20px;
}
